<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <link href="/css/liuyan_con.css" rel="stylesheet" type="text/css" />
    <script src="/fontPage/js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('.delA').click(function () {
                var url= '/message/site/' + $('#siteId').val() +'/reply/' + $(this).data('id') + '/';
                if (window.confirm('您确定要删除此条留言吗?')) {
                    $.ajax({
                        url: url,
                        type: 'delete',
                        dataType: 'json',
                        success: function (data) {
                            if (data.success) {
                                alert('留言删除成功!');
                                window.location.reload();
                            } else {
                                alert('留言删除失败!');
                            }
                        }
                    });
                }
                return false;
            });
        });
    </script>
</head>

<body>
<input type="hidden" id="siteId" value="<%=siteId%>"/>
<%if(list){%>
<%list.forEach(function(message){%>
<table width="85%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#fff">
    <tr class="ly_con_up">
        <td align="left" valign="middle" width="100%"><div class="ly_con_time">
            <div class="ly_con_tit_sp"><%=moment(message.date).format('YYYY-MM-DD HH:mm:ss')%></div>
            | <%=message.name%></div>
            <div class="ly_con_tit">问题：<%=message.title%></div>
            <div class="ly_con_btn"><a href="/message/site/<%=message.siteId%>/reply/<%=message._id%>/">回复</a> | <a class="delA" href="#" data-id="<%=message._id%>">删除</a></div>
            <div class="ly_con_txt">
                <%=message.contents%>
                </div></td>
    </tr>
    <%if (message.isReply) {%>
    <tr class="ly_down">
        <td align="left" valign="middle"><div class="ly_aus_tit">回复信息</div><div class="ly_aus_time">回复时间：<%=moment(message.reply.date).format('YYYY-MM-DD HH:mm')%></div>
            <div class="ly_aus_txt"><%=message.reply.contents%></div></td>
    </tr>
    <%}%>
</table>
<%});%>
<table align="center" width="100" cellspacing="0" cellpadding="0" bgcolor="#fff">
    <tr align="center">
        <td width="50"><a <%if(isPrePage){%>href="/site/<%=siteId%>/message/replyList/<%=(currentPage - 1)%>"<%}%>>上一页</a></td>
        <td width="50"><a <%if(isNextPage){%>href="/site/<%=siteId%>/message/replyList/<%=(currentPage + 1)%>"<%}%>>下一页</a></td>
    </tr>
</table>
<%}%>

</body>
</html>
